<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} | {{ site.name }}</title>
<!-- ▼▼▼ 読み込みファイル（共通） ▼▼▼ -->
<link rel="stylesheet" href="/{{ site.root }}css/style.css">
<!-- ▲▲▲ 読み込みファイル（共通） ▲▲▲ -->