{% extends 'layouts/default.njk' %}

{% block PAGE_CONTENT %}
  <!-- ▼▼▼ ページ内容 ▼▼▼ -->
  <div>list</div>
  <ul>
    {% for user in users %}
    <li>{{ user.id }} | {{ user.name }} | {{ user.email }}</li>
    {%- endfor %}
  </ul>
  <ul>
    {% for user in api_users %}
    <li>{{ user.id }} | {{ user.name }} | {{ user.email }}</li>
    {%- endfor %}
  </ul>
  <!-- ▲▲▲ ページ内容 ▲▲▲ -->
{% endblock %}
